<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='static/stylesheets/style.css' />
    <link rel='stylesheet' href='static/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='static/stylesheets/flags.css' />
      <link href="https://fonts.googleapis.com/css?family=Aleo" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="static/javascripts/script.js"></script>
  </head>
  <body>
        {{{ body }}}
  </body>
</html>
