<link rel='stylesheet' href='static/stylesheets/style.css' />
<link rel='stylesheet' href='static/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='static/stylesheets/flags.css' />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="d-flex justify-content-center align-items-center" id="main">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
    <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" id="desc">The page you requested was not found.</h2>
    </div>
</div>