<div class="container h-100" style="margin-top:30px">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Registration</h3>
            </div>
            {{#if message}}
                <p>{{ message }}</p>
            {{/if}}
            <div class="panel-body">
                <form role="form" method="post" action="/signup">
                    <input type="hidden" value="0" id="isAdmin" name="isAdmin">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Email" id="mail" name="mail" type="email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Username" id="username" name="username" autofocus="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" id="password" name="password" type="password" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Retype password" id="rePassword" name="rePassword" type="password" value="">
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <a href="/signin" class="btn btn-success" name="loginButton" value="1">Login</a>
                        <button type="submit" class="btn btn-light" name="registerButton">Register!</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <br>
</div>