<div class="container h-100" style="margin-top:30px">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sign In</h3>
            </div>
            <div class="panel-body" id="body-main">
                <form role="form" method="post" name="signin" action="signin">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Username" name="username" autofocus="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <div class="form-group">
                            <div class="btn-group" id="loginButtons">
                        <button type="submit" class="btn btn-outline-success" name="loginButton" id="loginButton">Login!</button>
                        <a href="/signup" class="btn btn-outline-secondary" name="registerButton" id="registrationButton">Registration</a>
                            </div>
                        </div>
                    </fieldset>
                    {{#if error}}
                        <div class="form-group">
                            <div class="alert alert-danger">
                                <strong> {{ error }}</strong>
                            </div>
                        </div>
                    {{/if}}
                </form>
            </div>
        </div>
    </div>
    <br>
</div>
