body {
  background-color: #ffffff !important;;

}
.search-box {
    width: 500px;
}
#header {
    margin-top: 10px;
}

#loginButtons {
    width: 193px; !important;
}

#loginButton {
    width: 96.5px; !important;
}

#registerButton {
    width: 96.5px; !important;
}
#registrationButton {
    width: fit-content;!important;
}
#modifyButton {
    height: fit-content;
}
#deleteButton {
    height: fit-content;
}
#deleteButton {
    height: fit-content;
}
#buttonsGroup {
    margin-left: 90px;
    margin-top: 100px;
}
#searchRow {
    width: 500px;
    margin-top: 5px;
}
#searchName {
    width: 500px;
}
#searchSelect{
    width: 245px;!important;
    margin-top: 5px;
    margin-bottom: 5px;
}
#searchSelectRow {
    margin-left: 20px;
}

#countrySearchSelect{
    width: 245px;!important;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 45px;

}
#cancelSearch {
    margin-top: 5px;
    margin-left: 40px;
    height: 38px;
    width: 42px;
}
#successAlert {
    width: 359px;
}

#buttonsGroupSearch {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 45px;
}
#searchGroupButton {
    width: 123px;
}
