body {
  background-color: #ffffff !important;;

}
.search-box {
    width: 500px;
}
#header {
    margin-top: 10px;
}

#loginButtons {
    width: 193px;
}

#loginButton {
    width: 96.5px;
}

#registerButton {
    width: 96.5px;
}
#registrationButton {
    width: fit-content;
}
#modifyButton {
    height: fit-content;

}
#buttonsGroup {
    margin-left: 90px;
    margin-top: 100px;
}
#searchRow {
    width: 500px;
    margin-top: 5px;
}
#searchName {
    width: 500px;
}
#searchSelect{
    width: 220px;!important;
    margin-top: 5px;
    margin-bottom: 5px;
}
#searchSelectRow {
    margin-left: 20px;
}
#cancelSearch {
    margin-top: 5px;
    margin-left: 20px;
    height: 38px;
    width: 42px;
}