body {
  background-color: #ffffff !important;
  /*background-color: #FAFAFA !important;*/

}
.search-box {
    width: 500px;
}
#header {
    margin-top: 10px;
}

#title {
    font-family: 'Aleo', serif;
}
#loginButtons {
    width: 193px; !important;
}

#loginButton {
    width: 96.5px; !important;
}

#registerButton {
    width: 96.5px; !important;
}
#registrationButton {
    width: fit-content;!important;
}
#modifyButton {
    height: fit-content;
}
#deleteButton {
    height: fit-content;
}
#deleteButton {
    height: fit-content;
}
#buttonsGroup {
    margin-left: 90px;
    margin-top: 100px;
}
#searchRow {
    width: 500px;
    margin-top: 5px;
}
#searchName {
    width: 500px;
}
#searchSelect{
    width: 245px;!important;
    margin-top: 5px;
    margin-bottom: 5px;
}
#searchSelectType{
    width: 245px;!important;
    margin-top: 5px;
    margin-bottom: 5px;
}
#searchSelectRow {
    margin-left: 20px;
}

#countrySearchSelect{
    width: 245px;!important;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -35px;

}
#cancelSearch {
    margin-top: 5px;
    margin-left: 40px;
    height: 38px;
    width: 42px;
}
#successAlert {
    width: 359px;
}

#buttonsGroupSearch {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -35px;
}
#searchGroupButton {
    width: 123px;
}

#filterMessage {
    margin-left: 20px;
    color: darkslategrey;
}

#itemNameRow {
    width: 240px;
    font-size: 26px;
}

#countryOriginRow {
    margin-top: -15px;
}

#strengthRow {
    margin-top: -15px;
}

#userRow {
    margin-top: -15px;
}

#descriptionBody {
    margin-top: 15px;
}

/*.descriptionText {*/
    /*font-size: 15px;*/
/*}*/